.. include:: ../globals.rst.inc
:orphan:




Package Versions: {{ sss_package_versions[0]['name'] }}
===============================================================================

{##### iterate over list of dicts and show the json structure #####}

The following lists the various version "flavours" used in our active
environments, for the given package.  The number of environments the version
occurs in is show in brackets.  Note that a given package version may appear
more than once, this is because it exists in more than one
:term:`conda channel`.


.. list-table::
  :align: left

{% for package_version in sss_package_versions %}
{% if package_version['sss_envs_count'] %}
  * - `{{ package_version['package_no_ext'] }} <autogen-sss-package-detail-{{ package_version['package_no_ext'] }}.html>`__ **({{ package_version['sss_envs_count'] }})**
    - {{ package_version['channel'] }}
{% endif %}
{% endfor %}



Package versions that are not currently used in any environments.  This list
may be empty:

{% for package_version in sss_package_versions %}
{% if 'sss_envs_count' not in package_version %}
* {{ package_version['package_no_ext'] }}
{% endif %}
{% endfor %}



